body {
        font-family:Georgia, 'Times New Roman', Times, serif;
    background-color: darkslategrey;
}

.todo-container {
	width: 50%;
	margin: 40px auto;
	padding: 20px;
	background-color: #1bddd3;
	border: 1px solid darkslategrey;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#task-input {
	width: 70%;
	padding: 10px;
	margin-bottom: 10px;
	border: 1px solid #ccc;
}

#add-task-btn {
	width: 20%;
	padding: 10px;
	background-color: #4CAF50;
    color: #fff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
    transition: all 0.3s ease;
}
#add-task-btn :hover{
    background: #4CAF50;
    /* color: #fff;
    transition: all 0.3s ease; */
}

#task-list {
	list-style: none;
	padding: 0;
	margin: 0;
}

#task-list li {
	background-color: #eee;
	padding: 10px;
	margin-bottom: 10px;
	border-radius: 5px;
}

#task-list li.completed {
	background-color: #dfd;
	text-decoration: line-through;
}

